# Objective

Demonstrate how self training can be used to supplement ML classification accuracy when a majority of the data available are unlabeled.

20% of data set aside as test set

20% of data kept as labeled train set

60% of data designated as 'unlabeled' - labels removed

# Imports

In [85]:
import numpy as np
import pandas as pd

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

# Obtain Data

In [56]:
# Load data

df = pd.read_csv('heart_data.csv')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [57]:
# Shuffle the data

df = df.sample(frac=1, random_state=5).reset_index(drop=True)

In [58]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0
1,57,1,0,152,274,0,1,88,1,1.2,1,1,3,0
2,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0
3,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
4,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1

In [59]:
test_ind = round(len(df)*0.2)
train_ind = test_ind + round(len(df)*0.2)
unlabeled_ind = train_ind + round(len(df)*0.6) - 1

In [60]:
test = df.iloc[:test_ind]
train = df.iloc[test_ind:train_ind]
unlabeled = df.iloc[train_ind:unlabeled_ind]

In [69]:
test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0
1,57,1,0,152,274,0,1,88,1,1.2,1,1,3,0
2,54,1,0,122,286,0,0,116,1,3.2,1,2,2,0
3,61,0,0,145,307,0,0,146,1,1.0,1,0,3,0
4,40,1,3,140,199,0,1,178,1,1.4,2,0,3,1

In [70]:
train.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
61,55,0,0,180,327,0,2,117,1,3.4,1,0,2,0
62,43,0,0,132,341,1,0,136,1,3.0,1,0,3,0
63,53,1,2,130,246,1,0,173,0,0.0,2,3,2,1
64,46,0,0,138,243,0,0,152,1,0.0,1,0,2,1
65,48,0,2,130,275,0,1,139,0,0.2,2,0,2,1

In [71]:
unlabeled.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
122,51,0,2,140,308,0,0,142,0,1.5,2,1,2,1
123,66,0,0,178,228,1,1,165,1,1.0,1,2,3,0
124,66,1,0,120,302,0,0,151,0,0.4,1,0,2,1
125,50,1,0,144,200,0,0,126,1,0.9,1,0,3,0
126,57,1,0,110,201,0,1,126,1,1.5,1,0,1,1

In [82]:
X_train = train.drop('target', axis=1)
y_train = train.target

X_unlabeled = unlabeled.drop('target', axis=1)

X_test = test.drop('target', axis=1)
y_test = test.target

In [83]:
# Logistic Regression Classifier

clf = LogisticRegression(max_iter=1000)

clf.fit(X_train, y_train)
y_hat_test = clf.predict(X_test)

In [84]:
accuracy_score(y_test, y_hat_test)

0.8688524590163934

In [89]:
confusion_matrix(y_test, y_hat_test)

array([[24,  6],
       [ 2, 29]], dtype=int64)

In [90]:
u_preds = clf.predict_proba(X_unlabeled)

In [91]:
u_preds

array([[5.76109273e-02, 9.42389073e-01],
       [8.08238825e-01, 1.91761175e-01],
       [8.35988409e-01, 1.64011591e-01],
       [4.56060963e-01, 5.43939037e-01],
       [8.98685684e-01, 1.01314316e-01],
       [4.33264140e-01, 5.66735860e-01],
       [8.25426826e-01, 1.74573174e-01],
       [4.97616251e-01, 5.02383749e-01],
       [5.46514067e-01, 4.53485933e-01],
       [1.72168481e-02, 9.82783152e-01],
       [8.84392868e-01, 1.15607132e-01],
       [2.12696865e-01, 7.87303135e-01],
       [3.46941954e-02, 9.65305805e-01],
       [1.99409969e-01, 8.00590031e-01],
       [3.26069357e-01, 6.73930643e-01],
       [6.03058579e-02, 9.39694142e-01],
       [4.90802604e-02, 9.50919740e-01],
       [9.94001361e-01, 5.99863915e-03],
       [1.30524067e-01, 8.69475933e-01],
       [9.32925743e-01, 6.70742568e-02],
       [1.40112875e-01, 8.59887125e-01],
       [1.99761834e-01, 8.00238166e-01],
       [6.97196122e-02, 9.30280388e-01],
       [9.02971330e-01, 9.70286698e-02],
       [1.41808500e-02, 9.85819150e-01],
       [1.67219938e-01, 8.32780062e-01],
       [3.44892387e-02, 9.65510761e-01],
       [5.95528374e-01, 4.04471626e-01],
       [4.07459063e-02, 9.59254094e-01],
       [1.64196523e-01, 8.35803477e-01],
       [1.30061049e-02, 9.86993895e-01],
       [1.09244268e-01, 8.90755732e-01],
       [5.56087642e-01, 4.43912358e-01],
       [7.61247206e-01, 2.38752794e-01],
       [2.35747267e-01, 7.64252733e-01],
       [5.91107562e-01, 4.08892438e-01],
       [6.26927218e-03, 9.93730728e-01],
       [1.27140991e-01, 8.72859009e-01],
       [9.79462324e-03, 9.90205377e-01],
       [9.99685767e-01, 3.14232504e-04],
       [4.09233784e-01, 5.90766216e-01],
       [8.50371554e-01, 1.49628446e-01],
       [6.67177657e-01, 3.32822343e-01],
       [3.93354818e-01, 6.06645182e-01],
       [1.50894742e-02, 9.84910526e-01],
       [1.32624801e-01, 8.67375199e-01],
       [3.15644169e-01, 6.84355831e-01],
       [2.38151304e-02, 9.76184870e-01],
       [9.93399031e-01, 6.60096891e-03],
       [8.53804029e-01, 1.46195971e-01],
       [2.17018797e-01, 7.82981203e-01],
       [1.02782616e-02, 9.89721738e-01],
       [9.50698328e-01, 4.93016719e-02],
       [2.47380087e-01, 7.52619913e-01],
       [4.83025730e-02, 9.51697427e-01],
       [3.39674498e-01, 6.60325502e-01],
       [5.75279454e-02, 9.42472055e-01],
       [1.93017873e-01, 8.06982127e-01],
       [5.90934591e-03, 9.94090654e-01],
       [4.67930780e-02, 9.53206922e-01],
       [9.30752585e-01, 6.92474146e-02],
       [4.62492003e-01, 5.37507997e-01],
       [9.23395731e-01, 7.66042687e-02],
       [5.96412064e-01, 4.03587936e-01],
       [9.30082038e-01, 6.99179625e-02],
       [2.14091731e-02, 9.78590827e-01],
       [5.59302344e-01, 4.40697656e-01],
       [7.12932709e-01, 2.87067291e-01],
       [9.79958966e-01, 2.00410338e-02],
       [2.85927330e-01, 7.14072670e-01],
       [4.12325495e-02, 9.58767451e-01],
       [8.21032904e-04, 9.99178967e-01],
       [9.93534010e-02, 9.00646599e-01],
       [7.33236414e-02, 9.26676359e-01],
       [8.05941781e-01, 1.94058219e-01],
       [8.23439555e-01, 1.76560445e-01],
       [1.72431345e-01, 8.27568655e-01],
       [3.49698403e-01, 6.50301597e-01],
       [6.63644820e-03, 9.93363552e-01],
       [1.06223133e-01, 8.93776867e-01],
       [5.95580043e-01, 4.04419957e-01],
       [2.30826630e-02, 9.76917337e-01],
       [2.27858528e-02, 9.77214147e-01],
       [7.79847476e-02, 9.22015252e-01],
       [9.69601143e-01, 3.03988575e-02],
       [1.18429500e-01, 8.81570500e-01],
       [1.69323356e-01, 8.30676644e-01],
       [8.34414059e-02, 9.16558594e-01],
       [8.85251389e-01, 1.14748611e-01],
       [2.17372242e-01, 7.82627758e-01],
       [9.67962122e-01, 3.20378781e-02],
       [6.49705117e-01, 3.50294883e-01],
       [4.97906688e-01, 5.02093312e-01],
       [9.67000457e-01, 3.29995432e-02],
       [7.72220298e-01, 2.27779702e-01],
       [9.88059634e-01, 1.19403663e-02],
       [2.86902890e-01, 7.13097110e-01],
       [9.21790514e-02, 9.07820949e-01],
       [9.98047467e-01, 1.95253296e-03],
       [4.25469365e-01, 5.74530635e-01],
       [2.08009113e-02, 9.79199089e-01],
       [9.93507892e-01, 6.49210762e-03],
       [9.29938987e-01, 7.00610129e-02],
       [9.66041861e-01, 3.39581390e-02],
       [5.96816543e-03, 9.94031835e-01],
       [1.55845078e-01, 8.44154922e-01],
       [9.84085349e-01, 1.59146507e-02],
       [6.58266978e-01, 3.41733022e-01],
       [6.61458256e-03, 9.93385417e-01],
       [9.06264268e-01, 9.37357323e-02],
       [6.08461382e-01, 3.91538618e-01],
       [2.18908360e-01, 7.81091640e-01],
       [2.60298131e-02, 9.73970187e-01],
       [8.41368621e-01, 1.58631379e-01],
       [7.69615037e-01, 2.30384963e-01],
       [7.44180469e-01, 2.55819531e-01],
       [9.90479309e-01, 9.52069055e-03],
       [6.91237165e-01, 3.08762835e-01],
       [8.14533850e-03, 9.91854662e-01],
       [9.62576870e-01, 3.74231295e-02],
       [5.43508023e-01, 4.56491977e-01],
       [2.30512467e-02, 9.76948753e-01],
       [7.29521691e-02, 9.27047831e-01],
       [9.04067454e-01, 9.59325458e-02],
       [1.10364208e-02, 9.88963579e-01],
       [2.84504278e-02, 9.71549572e-01],
       [3.03543535e-02, 9.69645647e-01],
       [5.63633609e-01, 4.36366391e-01],
       [9.67341682e-01, 3.26583184e-02],
       [5.83490908e-03, 9.94165091e-01],
       [3.15465059e-02, 9.68453494e-01],
       [4.50980015e-02, 9.54901998e-01],
       [9.81210223e-01, 1.87897770e-02],
       [8.04621601e-01, 1.95378399e-01],
       [9.95294631e-01, 4.70536922e-03],
       [8.70652499e-02, 9.12934750e-01],
       [4.31974849e-01, 5.68025151e-01],
       [5.25730399e-01, 4.74269601e-01],
       [6.90006425e-01, 3.09993575e-01],
       [8.79184459e-01, 1.20815541e-01],
       [1.54168850e-01, 8.45831150e-01],
       [1.29699742e-01, 8.70300258e-01],
       [4.64306443e-01, 5.35693557e-01],
       [4.12995234e-03, 9.95870048e-01],
       [1.29867753e-01, 8.70132247e-01],
       [6.28042901e-01, 3.71957099e-01],
       [9.95303750e-01, 4.69625022e-03],
       [8.19893600e-01, 1.80106400e-01],
       [7.67748262e-02, 9.23225174e-01],
       [2.57494865e-01, 7.42505135e-01],
       [9.90660014e-01, 9.33998622e-03],
       [4.05789025e-01, 5.94210975e-01],
       [1.68241533e-01, 8.31758467e-01],
       [9.30360153e-02, 9.06963985e-01],
       [1.22454115e-01, 8.77545885e-01],
       [8.92916203e-02, 9.10708380e-01],
       [1.57604860e-01, 8.42395140e-01],
       [4.91279365e-03, 9.95087206e-01],
       [3.47794782e-02, 9.65220522e-01],
       [1.34857294e-02, 9.86514271e-01],
       [4.79028104e-01, 5.20971896e-01],
       [4.48540063e-02, 9.55145994e-01],
       [4.25862876e-02, 9.57413712e-01],
       [2.27875423e-01, 7.72124577e-01],
       [6.81253151e-01, 3.18746849e-01],
       [8.97557460e-03, 9.91024425e-01],
       [4.21338815e-02, 9.57866118e-01],
       [1.81518057e-02, 9.81848194e-01],
       [2.24761248e-01, 7.75238752e-01],
       [9.93936161e-01, 6.06383863e-03],
       [8.12435704e-02, 9.18756430e-01],
       [6.20420833e-01, 3.79579167e-01],
       [9.10474740e-01, 8.95252602e-02],
       [4.41678050e-02, 9.55832195e-01],
       [9.42300180e-01, 5.76998195e-02],
       [7.18180467e-03, 9.92818195e-01],
       [9.65157789e-03, 9.90348422e-01],
       [2.77927253e-01, 7.22072747e-01],
       [3.11610388e-02, 9.68838961e-01],
       [1.07455092e-01, 8.92544908e-01],
       [9.47029489e-01, 5.29705106e-02]])